HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

#.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## React ##
src/main/react/logs
src/main/react/*.log
src/main/react/npm-debug.log*
src/main/react/yarn-debug.log*
src/main/react/yarn-error.log*
#src/main/react/pnpm-debug.log*, src/main/react/lerna-debug.log*

**/node_modules/

src/main/react/dist
src/main/react/dist-ssr
src/main/react/*.local

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
