.backdrop{
    position: absolute;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000e1;
    /*opacity: 9;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    height: min(50%, 300px);
    /*width: min(50%, 700px);*/
    width: clamp(50%, 700px, 90%);
    background: orange;

    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    display:flex;
    flex-direction: column;
    align-items: center;
}